<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test1.mapper.ItemMapper">
    <sql id="itemColumns">
        id
        , name
        , info
        , itemsize
        , price
        , color
        , itemCategory
        , regdate
    </sql>

    <insert id="insertItem" parameterType="com.example.test1.domain.Item">
        INSERT INTO LYE_ITEM (
        <include refid="itemColumns"></include>
        ) VALUES (
        LYE_ITEM_SEQ.nextval
        , #{name, jdbcType=VARCHAR}
        , #{info, jdbcType=VARCHAR}
        , 'S,M,L,XL'
        , #{price, jdbcType=VARCHAR}
        , #{color, jdbcType=VARCHAR}
        , 'Life'
        , sysdate
        )
    </insert>

    <select id="findAll" resultType="com.example.test1.domain.Item">
        SELECT
            *
        FROM LYE_ITEM
        ORDER BY id
    </select>

    <!-- 이미지 등록 -->
    <insert id="imageEnroll">
        <selectKey resultType="Long" keyProperty="itemId" order="AFTER">
            SELECT MAX(ID) + 1 FROM LYE_ITEM
        </selectKey>
        INSERT INTO LYE_ITEM_IMAGE (itemid, filename, upload, uuid)
        values (
        LYE_ITEM_SEQ.currval,
        #{fileName, jdbcType=VARCHAR},
        #{upload,jdbcType=VARCHAR},
        #{uuid,jdbcType=VARCHAR}
        )
    </insert>


    <select id="selectItemDetail" parameterType="Long" resultType="com.example.test1.domain.Item">
        select * FROM LYE_ITEM WHERE id = #{id}
    </select>

    <select id="getListPaging" resultType="com.example.test1.domain.Item">
    <![CDATA[
        select * from (
                          select rownum  as rn, ID, NAME, PRICE
                          from LYE_ITEM where rownum <= #{pageNum} * #{amount} order by ID)
        where rn > (#{pageNum} -1) * #{amount}
        ]]>
    </select>

    <!-- 아이템 카트 중복 방지 -->
    <select id="hadItem" resultType="int">
        SELECT count(*) FROM LYE_ITEM_CART WHERE ITEMID = #{itemId} and MEMBERID = #{mId}
    </select>
    <insert id="saveCartItem" parameterType="java.util.Map">
        INSERT INTO LYE_ITEM_CART (memberid, itemid, itemsize, color, cnt)
        VALUES (
                #{memberId, jdbcType=VARCHAR},
                #{id},
                #{itemSize, jdbcType=VARCHAR},
                #{itemColor, jdbcType=VARCHAR},
                1
               )
    </insert>

    <!-- 추천 id 와 게시글 id 테이블 저장-->
    <insert id="saveWishItem">
        INSERT INTO LYE_ITEM_WISH (ITEMID, MEMBERID)
        VALUES (#{itemId}, #{mId, jdbcType=VARCHAR})
    </insert>
    <!-- 게시글 추천 중복 방지 -->
    <select id="hadWishItem" resultType="int">
        SELECT count(*) FROM LYE_ITEM_WISH WHERE ITEMID = #{itemId} and MEMBERID = #{mId}
    </select>
</mapper>