<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test1.mapper.ItemImageMapper">
    <select id="getItemImageList" resultType="com.example.test1.domain.ItemImage">
        SELECT * FROM LYE_ITEM_IMAGE WHERE itemId = #{itemId}
    </select>

    <!-- 지정 상품 이미지 전체 삭제 -->
    <delete id="deleteImageAll">
        delete FROM LYE_ITEM_IMAGE where itemId = #{itemId}
    </delete>

    <!-- 이미지 재 등록 -->
    <insert id="imageReEnroll" parameterType="com.example.test1.domain.ItemImage">
        INSERT INTO LYE_ITEM_IMAGE (itemId, filename, upload, uuid)
        values (
        #{itemId, jdbcType=NUMERIC},
        #{fileName, jdbcType=VARCHAR},
        #{upload,jdbcType=VARCHAR},
        #{uuid,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteImage" parameterType="Long">
        delete from LYE_ITEM_IMAGE where itemId = #{itemId, jdbcType=NUMERIC}
    </delete>

    <select id="checkFileList" resultType="com.example.test1.domain.ItemImage">
        select * from LYE_ITEM_IMAGE where upload = to_char(sysdate, 'yyyy\mm\dd')
    </select>

    <select id="findAllImage" resultType="java.util.HashMap">
        SELECT
            *
        FROM LYE_ITEM_IMAGE
        ORDER BY itemId
    </select>
</mapper>