<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test1.mapper.ItemMapper">
    <sql id="itemColumns">
        id
        , name
        , info
        , itemsize
        , price
        , color
        , itemCategory
        , regdate
    </sql>

    <insert id="insertItem" parameterType="com.example.test1.domain.Item">
        INSERT INTO LYE_ITEM (
        <include refid="itemColumns"></include>
        ) VALUES (
        LYE_ITEM_SEQ.nextval
        , #{name, jdbcType=VARCHAR}
        , #{info, jdbcType=VARCHAR}
        , #{itemSize, jdbcType=VARCHAR}
        , #{price, jdbcType=NUMERIC}
        , #{color, jdbcType=VARCHAR}
        , 'Life'
        , sysdate
        )
    </insert>

    <select id="findAll" resultType="com.example.test1.domain.Item">
        SELECT
            *
        FROM LYE_ITEM
        ORDER BY id
    </select>

    <!-- 이미지 등록 -->
    <insert id="imageEnroll">
        <selectKey resultType="Long" keyProperty="itemId" order="AFTER">
            SELECT MAX(ID) + 1 FROM LYE_ITEM
        </selectKey>
        INSERT INTO LYE_ITEM_IMAGE (itemid, filename, upload, uuid)
        values (
        LYE_ITEM_SEQ.currval,
        #{fileName, jdbcType=VARCHAR},
        #{upload,jdbcType=VARCHAR},
        #{uuid,jdbcType=VARCHAR}
        )
    </insert>


    <select id="selectItemDetail" parameterType="Long" resultType="com.example.test1.domain.Item">
        select * FROM LYE_ITEM WHERE id = #{id}
    </select>

    <select id="getListPaging" resultType="com.example.test1.domain.Item">
    <![CDATA[
        select * from (
                          select rownum  as rn, ID, NAME, PRICE
                          from LYE_ITEM where rownum <= #{pageNum} * #{amount} order by ID)
        where rn > (#{pageNum} -1) * #{amount}
        ]]>
    </select>

    <!-- 아이템 카트  -->
    <select id="findAllCartItem" parameterType="String" resultType="com.example.test1.domain.CartItem">
        SELECT
            *
        FROM LYE_ITEM_CART
        WHERE memberid = #{user, jdbcType=VARCHAR}
        ORDER BY itemId
    </select>


    <select id="hadItem" resultType="int">
        SELECT count(*) FROM LYE_ITEM_CART
                        WHERE ITEMID = #{id} and
                              MEMBERID = #{memberId} and
                              ITEMSIZE = #{itemSize} and
                              ITEMCOLOR = #{itemColor}

    </select>

    <insert id="saveCartItem" parameterType="java.util.Map">
        INSERT INTO LYE_ITEM_CART (memberid, itemid, itemsize, itemcolor, cnt, cartitemid, itemname, itemprice)
        VALUES (
                #{memberId, jdbcType=VARCHAR},
                #{id},
                #{itemSize, jdbcType=VARCHAR},
                #{itemColor, jdbcType=VARCHAR},
                #{itemCnt, jdbcType=VARCHAR},
                LYE_ITEM_CART_SEQ.nextval,
                #{itemName, jdbcType=VARCHAR},
                #{itemPrice}
               )
    </insert>

    <insert id="saveWishItem">
        INSERT INTO LYE_ITEM_WISH (ITEMID, MEMBERID)
        VALUES (#{itemId}, #{mId, jdbcType=VARCHAR})
    </insert>
    <select id="hadWishItem" resultType="int">
        SELECT count(*) FROM LYE_ITEM_WISH WHERE ITEMID = #{itemId} and MEMBERID = #{mId}
    </select>
    <delete id="deleteCartItem" parameterType="Long">
        delete from LYE_ITEM_CART where ITEMID = #{id}
    </delete>

    <delete id="deleteMultiCartItem" parameterType="java.util.List">
        DELETE FROM LYE_ITEM_CART
        <where>
            <foreach collection="list" item="cartItem" open="" close="" separator="OR">
                (itemId = #{cartItem, jdbcType=NUMERIC})
            </foreach>
        </where>
    </delete>

    <update id="updateCartItem">
        update LYE_ITEM_CART
        <set>
            cnt = #{cnt, jdbcType=NUMERIC}
        </set>
        where cartitemid = #{itemId, jdbcType=NUMERIC}
    </update>

    <select id="findAllWishItem" resultType="com.example.test1.domain.WishItem">
        SELECT
            *
        FROM LYE_ITEM_WISH
        WHERE MEMBERID = #{user, jdbcType=VARCHAR}
        ORDER BY itemid
    </select>
</mapper>