<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test1.mapper.JoinMapper">
    <insert id="setInsertMember" parameterType="com.example.test1.domain.SecurityMember">
        INSERT INTO LYE_MEMBER (
            SEQ
            , ID
            , PASSWORD
            , MEMBER_NAME
            , USERROLE
            , EMAIL
            , PASSWORD_LOCK
            , PASSWORD_CHG_DATE
            , REG_DATE
            , MOD_DATE
            , STATUS
        ) VALUES (
            LYE_ID_SEQ.nextval
            , #{id,jdbcType=VARCHAR}
            , #{password,jdbcType=VARCHAR}
            , #{memberName,jdbcType=VARCHAR}
            , #{userRole,jdbcType=VARCHAR}
            , #{email,jdbcType=VARCHAR}
            , 0
            , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            , TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
            , 'O'
        )
    </insert>
</mapper>