<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test1.mapper.SecurityMemberMapper">
    <select id="findSecurityMember" parameterType="String" resultType="com.example.test1.domain.SecurityMember">
        SELECT
            ID, PASSWORD, MEMBER_NAME, USERROLE
        FROM LYE_MEMBER
        WHERE id=#{id, jdbcType=VARCHAR}
    </select>

    <select id="idCheck" resultType="int">

        select count(*) from LYE_MEMBER where id = #{id}

    </select>
</mapper>